* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.default {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  height: 100vh;
}

.btn--remove {
  background: rgb(212, 84, 84);

  padding: 12px;
  margin: 10px;

  width: 100px;

  transition: 0.3s;
}

.btn--removing {
  background: rgba(114, 170, 226, 0.844);

  transition: 0.3s;

  font-weight: normal;
}

.input {
  padding: 5px;
}

/* from another file */
.container {
  height: auto;
  width: 100%;

  background: rgb(191, 225, 213);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.huyco {
  height: 200px;
  width: 200px;

  background: url("https://cdn140.picsart.com/304214667000211.png");
  background-size: cover;
}

.btn {
  padding: 20px;

  border: none;
  margin: 20px;

  cursor: pointer;
}
